/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #090d37;
  border-radius: 1rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: aliceblue;

  z-index: var(--z-fixed);
}
.header {
  transition: transform 0.3s ease;
}

.header.hide {
  transform: translateY(-100%);
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 6rem;
  height: auto;
  object-fit: cover;
}

.nav__close,
.nav__toggle {
  display: flex;
  color: var(--black-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.homepage,
.about-us {
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.homepage {
  /* background-color: black; */
  display: flex;

  align-items: center;
  background-image: url("../src/assets/Rectangle\ 43.png");
  background-position: center;
  background-size: cover;
}

.homepage-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-bgbox {
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  color: #f61422;

  /* border: 2px solid #1e1e1e; */
}
.about-bgbox {
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f61422;

  /* border: 2px solid #1e1e1e; */
}

.blue {
  color: #090d37;
}

.hero-heading {
  line-height: 4rem;
  margin-top: 4rem;
  font-size: 4rem;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}

.number-bgbox {
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
  color: #f61422;
  /* border: 2px solid #1e1e1e; */
}

.number-listing ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.number-listing li {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.number-listing h1 {
  font-size: 2em;
  margin: 0;
  transition: all 0.5s ease;
}

.number-listing p {
  margin: 5px 0 0;
  color: #555;
}

/*=============== ABOUT US SECTION ===============*/
.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #090d37;
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;
}

.about-bgbox {
  max-width: 1200px;
}

.about-heading {
  font-size: 7vh;
  margin-bottom: 3rem;
}

.about-tagline {
  font-size: 3.5vh;
  margin-bottom: 2rem;
}

.about-vis-mis ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.about-vis-mis li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 10px;
  max-width: 350px;
  margin: 0 auto;
}

.aboutus h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.aboutus p {
  font-size: 1rem;
  line-height: 1.5;
}

/*=============== SERVICES SECTION ===============*/
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #090d37;
  padding: 1rem 1rem;
  text-align: center;
}

.services-bgbox {
  max-width: 1200px;
}
.services-heading {
  font-size: 7vh;
  margin-bottom: 3rem;
}

.services-list ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  gap: 2rem;
}

.services-list li {
  border: 2px solid #090d37;
  padding: 1rem;
  border-radius: 10px;
  max-width: 350px;
  margin: 0 auto;
}

.services-list li svg {
  color: #090d37;
  width: 10rem;
  height: 10rem;
}

/*=============== SOLUTIONS SECTION ===============*/
.solutions {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #090d37;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
}

.solutions-bgbox {
  max-width: 1200px;
  width: 100%;
}

.solutions-heading {
  font-size: 6vh;
  margin-bottom: 3rem;
}

.card {
  width: 100%;
}

.solutions-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.solutions-item {
  color: #fff;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.solutions-item:hover {
  color: #090d37;
  background-color: #fff;
}

.solutions-icon img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.solutions-text {
  margin-top: 1rem;
}

.solutions-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-head {
  color: #f61422;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.solutions-description {
  font-size: 0.938rem;
  line-height: 1.5;
}

/*=============== SERVICES SECTION ===============*/
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #090d37;
  padding: 1rem 1rem;
  text-align: center;
}

.services-bgbox {
  max-width: 1200px;
}
.services-heading {
  font-size: 7vh;
  margin-bottom: 3rem;
}

.services-list ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  gap: 2rem;
}

.services-list li {
  border: 2px solid #090d37;
  padding: 1rem;
  border-radius: 10px;
  max-width: 350px;
  margin: 0 auto;
}

.services-list li svg {
  color: #090d37;
  width: 10rem;
  height: 10rem;
}

/*=============== SOLUTIONS SECTION ===============*/
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #090d37;
  padding: 2rem 1rem;
  text-align: center;
}

.contact-bgbox {
  max-width: 1200px;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
}

.contactbg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-heading {
  font-size: 6vh;
  margin-bottom: 3rem;
  width: 100%;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form form {
  display: flex;
  gap: 1rem;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.contact-form form input,
textarea {
  border-radius: 5px;
  border: 2px solid #090d37;
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.25rem;
  font-size: 1rem;
}
.contact-form form textarea {
  height: 150px;
  resize: vertical;
}

.send {
  background-color: #090d37;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: 1rem;
}

.send:hover {
  background-color: #070a2b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-logo .contactlogo {
  width: 100%; /* Increased size */
  height: 100%;
  object-fit: fill;
  margin-top: 2rem;
}

/*=============== QnA SECTION ===============*/
.qna {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #070a2b;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
}

.qna-bgbox {
  max-width: 1200px;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  background-color: #090d37;
}

.qna-heading {
  font-size: 6vh;
  margin-bottom: 3rem;
  width: 100%;
}

.qna-tagline {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.question-box {
  background-color: #fff;
  padding: 1rem;
  color: #090d37;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
}

.question-box ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.question-box ul li {
  width: 100%;
  margin-bottom: 1.5rem; /* Add spacing between each question */
}

.questionaries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.questionaries h3 {
  margin: 0;
}

.question-box p {
  margin: 0.5rem 0 0 0;
  display: none; /* Hide the answers initially */
}

/* Add CSS for the arrow icon */
.questionaries svg {
  transition: transform 0.3s ease;
}

/* Rotate the arrow when the question is active */
.question-box li.active .questionaries svg {
  transform: rotate(180deg);
}

.question-box li.active p {
  display: block; /* Show the answer when active */
}

/*=============== Footer SECTION ===============*/

.footer-log {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  width: 15rem;
  height: 15rem;
}

.footer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerbox {
  border: 4px solid #f61422;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 30px 30px 0 0;
  color: #070a2b;
}

.footer-content {
  text-decoration: none;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content:start;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer-soc {
  text-decoration: none;
  flex-direction: column;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-head {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.footer-desc {
  color: #070a2b;
  margin: 5px;
  font-size: 1.1rem;
}

.footer-desc:hover {
  color: #f61422;
}

.sociallll {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

.sociallll li svg {
  width: 2rem;
  height: 2rem;
}


.sociallll li svg:hover{
  color: #f61422;
}

/*=============== RESPONSIVE STYLES ===============*/
@media screen and (min-width: 768px) {
  .about-us {
    padding: 3rem 1rem;
  }

  .about-heading {
    font-size: 5rem;
  }

  .about-tagline {
    font-size: 2.5rem;
  }

  .about-vis-mis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .about-vis-mis li {
    flex: 1;
    min-width: 250px;
  }
  .solutions-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact-heading {
    font-size: 4vh;
  }

  .contactbg {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact-logo .contactlogo {
    width: 10rem; /* Adjusted for smaller screens */
  }
}

@media screen and (min-width: 1024px) {
  .about-heading {
    font-size: 6rem;
  }

  .about-tagline {
    font-size: 3rem;
  }
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(209, 213, 219, 0.3);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform 0.4s ease-out, visibility 0.4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: 0.1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: 0.2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: 0.3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: 0.4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: 0.5s;
  }
}

.nav__list,
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link {
  position: relative;
  color: #090d37;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity 0.4s;
}

.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.nav__link span {
  position: relative;
  transition: margin 0.4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #090d37;
  transition: width 0.4s ease-out;
}

/* Animation link on hover */
.nav__link:hover span {
  margin-left: 2.5rem;
}

.nav__link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav__link:hover span::after {
  width: 100%;
}

/* Sibling fade animation */
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: 0.4;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__social {
  column-gap: 1rem;
}

.nav__social-link {
  color: var(--white-color);
  font-size: 1.5rem;
  transition: transform 0.4s;
}

.nav__social-link:hover {
  transform: translateY(-0.25rem);
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 0.1rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
}
