/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background: rgba(30, 30, 30, 0.47);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: top 0.3s, background-color 0.3s;
}

header.hidden {
  top: -70px;
}

header .logo img {
  max-height: 50px;
  width: auto;
}

header nav ul {
  display: flex;
  gap: 15px;
}

header nav ul li a {
  color: #0085ff;
  padding: 5px 0;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s;
}

header nav ul li a:hover,
header nav ul li a.active {
  border-bottom-color: dodgerblue;
}

.hamburger {
  color: #0085ff;
  cursor: pointer;
  display: none;
  font-size: 24px;
}

.hamburger-icon,
.close-icon {
  display: none;
}

@keyframes rotateIn {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateOut {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@media (max-width: 700px) {
  .hamburger {
    display: block;
  }

  .hamburger-icon,
  .close-icon {
    display: block;
  }

  header nav {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    transition: left 0.3s;
  }

  header #nav_check:checked ~ nav {
    left: 0;
  }

  header #nav_check:checked ~ .hamburger .hamburger-icon {
    display: none;
    animation: rotateOut 0.5s forwards;
  }

  header #nav_check:checked ~ .hamburger .close-icon {
    display: block;
    animation: rotateIn 0.5s forwards;
  }

  header #nav_check:not(:checked) ~ .hamburger .hamburger-icon {
    animation: rotateIn 0.5s forwards;
  }

  header #nav_check:not(:checked) ~ .hamburger .close-icon {
    display: none;
    animation: rotateOut 0.5s forwards;
  }

  header nav ul {
    flex-direction: column;
    text-align: center;
  }

  header nav ul li {
    margin: 15px 0;
  }

  header nav ul li a {
    margin: 0;
  }
}
