@import url("https://fonts.googleapis.com/css2?family=Alata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border: 2px solid #1e1e1e;
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: top 0.3s, background-color 0.3s;
}

header.hidden {
  top: -70px;
}

header .logo img {
  max-height: 50px;
  width: auto;
}

header nav ul {
  display: flex;
  gap: 15px;
}

header nav ul li a {
  color: #090d37;
  padding: 5px 0;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s;
}

header nav ul li a:hover,
header nav ul li a.active {
  border-bottom-color: #090d37;
}

.hamburger {
  color: #090d37;
  cursor: pointer;
  display: none;
  font-size: 24px;
}

.hamburger-icon,
.close-icon {
  display: none;
}

@keyframes rotateIn {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateOut {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.homepage {
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.homepage {
  /* background-color: black; */
  display: flex;

  align-items: center;
  background-image: url("../src/assets/Rectangle\ 43.png");
  background-position: center;
  background-size: cover;
}

.homepage-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-bgbox {
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  color: #f61422;

  /* border: 2px solid #1e1e1e; */
}

.blue {
  color: #090d37;
}

.hero-heading {
  font-size: 5rem;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}

.number-bgbox {
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
  color: #f61422;
  /* border: 2px solid #1e1e1e; */
}

.number-listing ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.number-listing li {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.number-listing h1 {
  font-size: 2em;
  margin: 0;
  transition: all 0.5s ease;
}

.number-listing p {
  margin: 5px 0 0;
  color: #555;
}

@media (max-width: 700px) {
  .hamburger {
    display: block;
  }

  .hamburger-icon,
  .close-icon {
    display: block;
  }

  header nav {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    border: 2px solid #1e1e1e;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 20px;
    transition: left 0.3s;
  }

  header #nav_check:checked ~ nav {
    left: 0;
  }

  header #nav_check:checked ~ .hamburger .hamburger-icon {
    display: none;
    animation: rotateOut 0.5s forwards;
    margin-top: 0.5rem;
  }

  header #nav_check:checked ~ .hamburger .close-icon {
    display: block;
    animation: rotateIn 0.5s forwards;
  }

  header #nav_check:not(:checked) ~ .hamburger .hamburger-icon {
    animation: rotateIn 0.5s forwards;
  }

  header #nav_check:not(:checked) ~ .hamburger .close-icon {
    display: none;

    animation: rotateOut 0.5s forwards;
  }

  header nav ul {
    flex-direction: column;
    text-align: center;
  }

  header nav ul li {
    margin: 15px 0;
  }

  header nav ul li a {
    margin: 0;
  }
}
